@tailwind base;
@tailwind components;
@tailwind utilities;

/** shadcn **/
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/** end shadcn **/

@layer components {
  .video-player-container {
    .shaka-controls-container {
      .shaka-scrim-container {
        height: 102%;
      }
      .shaka-bottom-controls {
        position: relative;
        top: -15px;
      }

      .shaka-controls-button-panel {
        position: relative;
        justify-content: flex-start;

        button {
          line-height: initial;
        }

        .shaka-current-time {
          opacity: 0.8;
        }

        .shaka-rewind-button,
        .shaka-small-play-button,
        .shaka-fast-forward-button,
        .shaka-mute-button,
        .shaka-fullscreen-button,
        button {
          opacity: 0.6;
          transition: opacity 0.2s ease;

          &:hover {
            opacity: 1;
          }
        }

        > .material-icons-round {
          font-size: 36px;
        }
      }

      .shaka-current-time {
        z-index: -1; /*fix hover over bug*/
      }
    }

    .shaka-seek-bar-container {
      height: 3px;
      width: 98.5%;
      margin: 10px;
      top: 42px;
      position: absolute;
      transition: all 70ms ease-in;

      /*expand the hoverable area*/
      &::before {
        content: "";
        position: absolute;
        height: 30px;
        width: 100%;
        top: -10px;
        cursor: pointer;
      }

      input[type="range"] {
        cursor: pointer;
        height: 9px;
        transition: all 100ms ease-in;

        &::-webkit-slider-thumb {
          margin-top: 1px;
        }
      }

      &:hover {
        height: 8px;

        input[type="range"] {
          height: 12px;

          &::-webkit-slider-thumb {
            margin-top: 0;
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    /*using customer buffer/spinner - hide shaka default*/
    .shaka-spinner-container {
      .shaka-spinner {
        display: none !important;
      }
    }
  }
}
